/* coded by Sofia Silva */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background-color: #E6EDEE;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #050709;
}
#navbar {
  float: left;
  top: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #E6EDEE;
  width: 300px;
  z-index: 20;
}
#navbar header {
  text-align: center;
  color: #386975;
  font-size: 1.2em;
}
.nav-link {
  display:block;
  color: #050709;
  font-size: 1em;
  text-decoration: none;
  padding: 20px;
  border-top: 1px solid #386975;
  height: auto;
}
.nav-link:hover {
  animation-name: background-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes background-hover {
  100% { 
    background-color: #B9CDD1;
    padding-left: 30px;
  }
}
.nav-link:active {
  color: #386975;
}
#main-doc {
  /* for the cool scrolling effect! */
  overflow: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}
.show-menu {
  position: fixed;
  top: 10px;
  right: 3%;
  font-size: 40px;
  padding: 10px;
  text-decoration: none;
  color: #386975;
  background-color: #EEE;
  background-color: #EEEEEEB3;
  visibility: hidden;
}
.main-section {
  margin: 30px 40px 0 340px;
  margin-left: 340px;
  margin-right: 40px;
  z-index: -10;
}
.main-section h2 {
  font-size: 30px;
  color: #386975;
}
.main-section a {
  color: #386975;
}
.main-section a:visited {
  color: #204a54;
}
pre, code {
  background-color: #B9CDD1;
}
pre {
  border: solid 0.5px #386975;
  padding: 15px;
  border-radius: 10px;
  white-space: pre-wrap;   
}
p code, li code {
  font-weight: bold;
}
footer {
  background-color: #B9CDD1;
  text-align: center;
  padding: 10px;
  margin-left: 300px;
  font-size: 0.8em;
}
footer a {
  color: #386975;
}
footer a:visited {
  color: #204a54;
}
@media screen and (max-width: 700px) {
  #navbar {
    width: 100%;
    max-height: 180px;
    position: relative;
    overflow: auto;
    margin: 0;
    font-size: 1em;
    z-index: 20;
    box-shadow: -2px 11px 43px -15px rgba(0,0,0,0.59);
  }
  #navbar header {
    font-size: 1.1em;
  }
  .nav-link {
    padding: 10px;
  }
  .main-section {
    margin: auto;
    padding-top: 20px;
  }
  #main-doc {
    width: 94%;
    overflow: auto;
    margin: auto;
    margin-top: 80px;
    scroll-behavior: smooth;
    height: 100vh;
  }
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    display: none;
}
  .show-menu {
  visibility: initial;
  z-index: 0;
  }
  footer {
    margin: 0;
  }
}
